<div>
  <div>
    <h1>
     <%=@current_user.username%>'s Profile
    </h1>
  </div>
</div>

<hr>
<h2> <%= @current_user.username%>'s Calendar</h2>
<div>
  <div>
    <table>
      <tr>
        <th>
          Day of week
        </th>


        <th>
          Effort Level
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_study_blocks.each do |a_study_block| %>
      <tr>


        <td>
          <%= a_study_block.day_of_week %>
        </td>

        <td>
          <%= a_study_block.effort %>
        </td>

        <td>
          <%= a_study_block.start_time.strftime("%R %p") %>
        </td>

        <td>
          <%= a_study_block.end_time.strftime("%R %p") %>
        </td>

       

        <td>
          <a href="/study_blocks/<%= a_study_block.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new study block
    </h2>

    <form action="/insert_study_block" method="post">
      <div>
        <label for="start_time_box">
          Start time
        </label>

        <input type="time" id="start_time_box" name="query_start_time">
      </div>

      <div>
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="query_end_time">
      </div>

      <div>
        <label for="day_of_week_box">
          Day of week
        </label>

        <input type="text" id="day_of_week_box" name="query_day_of_week">
      </div>

        <input type="hidden" name="query_user_id" value="<%@current_user.id%>">

      <div>
        <label for="effort_box">
          Effort
        </label>
        <select id="effort_box" name="query_effort">
          <option value="0">0 - Not Studying (I don't really want to study I just want to talk!)</option>
          <option value="1">1 - Light Studying (I want to study a little bit and want to talk more) </option>
          <option value="2">2 - Moderate Studying (I want study a decent amount and want to talk occasionally)</option>
          <option value="3">3 - Hard Studying (I want to study a lot and do not want to talk much)</option>
        </select >
      
      </div>

      <button>
        Create study block
      </button>
    </form>
  </div>
</div>

<hr>
