<div>
  <div>
    <h1>
      List of all study blocks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new study block
    </h2>

    <form action="/insert_study_block" method="post">
      <div>
        <label for="start_time_box">
          Start time
        </label>

        <input type="time" id="start_time_box" name="query_start_time">
      </div>

      <div>
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="query_end_time">
      </div>

      <div>
        <label for="day_of_week_box">
          Day of week
        </label>

        <input type="text" id="day_of_week_box" name="query_day_of_week">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="effort_box">
          Effort
        </label>

        <input type="text" id="effort_box" name="query_effort">
      </div>

      <button>
        Create study block
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
          Day of week
        </th>

        <th>
          User
        </th>

        <th>
          Effort
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_study_blocks.each do |a_study_block| %>
      <tr>
        <td>
          <%= a_study_block.id %>
        </td>

        <td>
          <%= a_study_block.start_time %>
        </td>

        <td>
          <%= a_study_block.end_time %>
        </td>

        <td>
          <%= a_study_block.day_of_week %>
        </td>

        <td>
          <%= a_study_block.user_id %>
        </td>

        <td>
          <%= a_study_block.effort %>
        </td>

        <td>
          <%= time_ago_in_words(a_study_block.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_study_block.updated_at) %> ago
        </td>

        <td>
          <a href="/study_blocks/<%= a_study_block.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
