<div>
  <div>
    <h1>
      Follower #<%= @the_follower.id %> details
    </h1>

    <div>
      <div>
        <a href="/followers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_follower/<%= @the_follower.id %>">
          Delete follower
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_follower.sender_id %>
      </dd>

      <dt>
        Recipient
      </dt>
      <dd>
        <%= @the_follower.recipient_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_follower.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_follower.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit follower
    </h2>

    <form action="/modify_follower/<%= @the_follower.id %>"  method="post" >
      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_follower.sender_id %>">
      </div>

      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" value="<%= @the_follower.recipient_id %>">
      </div>

      <button>
        Update follower
      </button>
    </form>
  </div>
</div>

<hr>
